// Variables de color
$primary-color: #007bff; // Color principal
$secondary-color: hsl(217, 10%, 50.8%); // Color secundario

body {
  font-family: 'Arial', sans-serif;
  background-color: hsl(0, 0%, 96%);
}

.section {
  .container {
    padding: 2rem;
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .jumbotron {
    text-align: center;

    .header {
      margin-bottom: 1.5rem;
      font-size: 2.5rem;
      font-weight: bold;

      .highlight {
        color: $primary-color;
      }
    }

    .description {
      color: $secondary-color;
      margin-bottom: 2rem;
      font-size: 1.2rem;
    }
  }

  .card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    
    .card-body {
      padding: 2rem;

      .form-outline {
        margin-bottom: 1.5rem;
      }

      .btn-primary {
        background-color: $primary-color;
        border: none;
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }

      .form-check {
        margin-bottom: 1rem;
      }

      .social-buttons {
        margin-top: 1.5rem;
        .btn-link {
          color: $primary-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
